<div id="<%= dom_id feirante %>">
  <p>
    <strong>Nome:</strong>
    <%= feirante.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= feirante.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= feirante.senha %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= feirante.localizacao %>
  </p>

  <p>
    <strong>Sobre:</strong>
    <%= feirante.sobre %>
  </p>

</div>
