<div id="<%= dom_id feirante %>">
  <p>
    <strong>Nome:</strong>
    <%= feirante.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= feirante.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= feirante.password %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= feirante.descricao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= feirante.categoria %>
  </p>


</div>
