<header>
  <nav>
    <ul>
      <% if current_admin %>
        <li><%= button_to 'Profile', edit_administrador_path(current_user), method: :get, class: 'button-confirm', style: 'margin: 5px;' %></li>
        <li><%= button_to 'Homepage', home_admin_homepage_path, method: :get, class: 'button-confirm', style: 'margin: 5px;' %></li>
      <% else %>
        <% if current_feirante %>
          <li><%= button_to 'Profile', edit_feirante_path(current_user), method: :get, class: 'button-confirm', style: 'margin: 5px;' %></li>
          <li><%= button_to 'Homepage', home_feirante_homepage_path, method: :get, class: 'button-confirm', style: 'margin: 5px;' %></li>
        <% else %>
          <% if current_user && !temp_user? %>
            <li><%= button_to 'Profile', edit_user_path(current_user), method: :get, class: 'button-confirm', style: 'margin: 5px;' %></li>
          <% end %>
          <li><%= button_to 'Homepage', home_feira_path, method: :get, class: 'button-confirm', style: 'margin: 5px;' %>
          <li><%= button_to 'Wish List', home_anotacoes_path, method: :get, class: 'button-confirm', style: 'margin: 5px;' %>
        <% end %>
      <% end %>
      <li>
        <%= button_to "Logout", logout_path, method: :delete, class: 'button-confirm', style: 'margin: 5px 5px 5px 5px;' %>
      </li>
    </ul>
  </nav>
</header>