<div id="<%= dom_id avaliacao_feirante %>">
  <p>
    <strong>Nota:</strong>
    <%= avaliacao_feirante.nota %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= avaliacao_feirante.comentario %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= avaliacao_feirante.usuario_id %>
  </p>

  <p>
    <strong>Feirante:</strong>
    <%= avaliacao_feirante.feirante_id %>
  </p>

</div>
