<%= form_with(model: mensagem) do |form| %>
  <% if mensagem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mensagem.errors.count, "error") %> prohibited this mensagem from being saved:</h2>

      <ul>
        <% mensagem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mensagem, style: "display: block" %>
    <%= form.textarea :mensagem %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :feirante_id, style: "display: block" %>
    <%= form.text_field :feirante_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
