<!DOCTYPE html>
<html>
<head>
  <title>Adicionar à Wish List</title>
</head>
<body>
<h2 class="title">Adicionar <%= @produto.nome %> à Wish List</h2>  
    <%= form_with(model: @wish_list, local: true, html: { class: "form" }) do |form| %>
      <div class="form-field">
        <p><strong>Preço:</strong> R$ <%= number_with_precision(@produto.preco, precision: 2) %></p>
        <%= form.label :quantidade %>
        <%= form.number_field :quantidade, min: 1, class: "input" %>
        <%= form.hidden_field :produto_id, value: @produto.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :feirante_id, value: @produto.feirante_id %>
      </div>

      <div class="button-double">
        <%= form.submit "Adicionar", class: "button-confirm" %>
        <%= link_to 'Voltar', :back, class: "button-confirm" %>
      </div>
    <% end %>
</body>
</html>