<h1>Feirante Homepage</h1>

<p><%= current_feirante.nome %>, você é um feirante!</p>
<td><%= image_tag current_feirante.image, height: "150", style: "border: 5px solid black;" if current_feirante.image.present? %></td>

<div class="produtos-table">
  <h2>Seus Produtos</h2>
  
  <%= link_to 'Ordenar por Nome', home_feirante_homepage_path(sort: 'nome'), class: 'button' %>
  <%= link_to 'Ordenar por Preço', home_feirante_homepage_path(sort: 'preco'), class: 'button' %>
  
  <% if @produtos.any? %>
    <table border="1">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Imagem</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.descricao %></td>
            <td>R$ <%= number_with_precision(produto.preco, precision: 2) %></td>
            <td><%= image_tag produto.image, height: "150", style: "border: 5px solid black;" if produto.image.present? %></td>
            <td>
              <%= link_to 'Editar', edit_produto_path(produto, feirante_id: current_feirante.id) %> |
              <%= link_to 'Deletar', produto_path(produto), 
                    data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Você ainda não possui produtos cadastrados.</p>
  <% end %>
  
  <%= link_to 'Adicionar Novo Produto', new_produto_path(feirante_id: current_feirante.id), class: 'button' %>
</div>