<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="form-container">
      <% if flash[:alert] %>
        <p style="color: red;"><%= flash[:alert] %></p>
      <% end %>

      <%= form_with url: login_path, method: :post, html: { class: "form", style: "width: 385px;" } do |form| %>
        <div class="title">
          Welcome,<br>
          <span>sign up to continue</span>
        </div>

        <%= form.email_field :email, placeholder: "Email", class: "input", required: true %>

        <%= form.password_field :password, placeholder: "Password", class: "input", required: true %>

        <div class="user-type" style="margin-top: 1rem;">
          <%= form.label :user_type, "Tipo de Usuário" %>
          <div>
            <%= form.radio_button :user_type, 'regular', checked: true %>
            <%= form.label :user_type_regular, 'Usuário Regular' %>
            <br>
            <%= form.radio_button :user_type, 'admin' %>
            <%= form.label :user_type_admin, 'Administrador' %>
            <br>
            <%= form.radio_button :user_type, 'feirante' %>
            <%= form.label :user_type_feirante, 'Feirante' %>
          </div>
        </div>

        <div style="display: flex; gap: 10px;">
          <button type="submit" class="button-confirm">Let`s go →</button>
          <button type="button" class="button-confirm" onclick="window.location.href='/users/new';">Sign Up</button>
          <button type="button" class="button-confirm" onclick="window.location.href='/home/start_page';">Voltar</button>
        </div>
      <% end %>
    </div>
  </body>
</html>