<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= user.idade %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= user.tipo %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= user.localizacao %>
  </p>

</div>
