<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= user.senha %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= user.localizacao %>
  </p>

</div>
