<div id="<%= dom_id avaliacao_shopping %>">
  <p>
    <strong>Nota:</strong>
    <%= avaliacao_shopping.nota %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= avaliacao_shopping.comentario %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= avaliacao_shopping.user_id %>
  </p>

  <p>
    <strong>Shopping:</strong>
    <%= avaliacao_shopping.shopping_id %>
  </p>

</div>
