<%= form_with(model: avaliacao_shopping, html: { class: "form" }) do |form| %>
  <% if avaliacao_shopping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(avaliacao_shopping.errors.count, "error") %> prohibited this avaliacao_shopping from being saved:</h2>

      <ul>
        <% avaliacao_shopping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :nota %>
    <%= form.number_field :nota, class: "input" %>
  </div>

  <div class="form-field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario, class: "input" %>
  </div>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :shopping_id %>

  <div class="button-double">
    <%= form.submit "Salvar", class: "button-confirm" %>
    <%= link_to 'Voltar', :back, class: "button-confirm" %>
  </div>
<% end %>
