<%= form_with(model: historico_de_compra) do |form| %>
  <% if historico_de_compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(historico_de_compra.errors.count, "error") %> prohibited this historico_de_compra from being saved:</h2>

      <ul>
        <% historico_de_compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantidade, style: "display: block" %>
    <%= form.number_field :quantidade %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :produto_id, style: "display: block" %>
    <%= form.text_field :produto_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
