<p style="color: green"><%= notice %></p>

<%= render @historico_de_compra %>

<div>
  <%= link_to "Edit this historico de compra", edit_historico_de_compra_path(@historico_de_compra) %> |
  <%= link_to "Back to historico de compras", historico_de_compras_path %>

  <%= button_to "Destroy this historico de compra", @historico_de_compra, method: :delete %>
</div>
